/* Flex Styles */
.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-item {
  -webkit-flex: 2 1 auto;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  text-align: center;
  padding: 5px 20px 20px 20px;
}

/* Header Styles */
.header-container {
  text-align: center;
  background-color: #91839b;
  height: 100px;
}

.header-container img {
  background-color: #91839b;
  height: 70px;
  padding: 15px 0;
}

.sub-header-container {
  text-align: center;
  background-color: #91839b;
  color: white;
  padding: 15px 15px;
}

/* Footer Styles */
footer {
  text-align: center;
  color: #91839b;
  padding: 15px 15px 0px 15px;
}

footer a {
  color: #91839b;
}
