<div class="header-container">
  <img src="assets/srr_logo.png" alt="Santa Rita Ranch">
</div>
<div class="sub-header-container" *ngIf="eventDate">
  <h2>Bunco Signups for {{ eventDate | date:"fullDate" }}</h2>
</div>
<div class="flex-container">
  <div class="flex-item">
    <app-signup [eventDate]="eventDate" [entrySubmitted]="entrySubmitted" (rsvpSubmitted)="submitRsvp($event)"></app-signup>
  </div>
  <div class="flex-item">
    <app-rsvp-table [data]="rsvpList"></app-rsvp-table>
  </div>
</div>
<footer>
  <p>Made for the residents of SRR, by a resident of SRR. More info can be found at 
    <a href="https://cjlaw.github.io">https://cjlaw.github.io</a>.
  </p>
</footer>