<div class="signup-container">
  <mat-form-field>
    <input matInput placeholder="First & Last Name" #name (keyup.enter)="submitRsvp(name.value); name.value=''"
      [formControl]="nameFormControl">
    <mat-hint>Only one entry per person</mat-hint>
    <mat-error *ngIf="nameFormControl.hasError('required') && !nameFormControl.hasError('alreadySubmitted')">
      Please enter a first & last name
    </mat-error>
    <mat-error *ngIf="nameFormControl.hasError('alreadySubmitted')">
      Sorry, you've already submitted an entry for this event
    </mat-error>
  </mat-form-field>
</div>
<button mat-raised-button class="mat-primary" (click)="submitRsvp(name.value); name.value=''">
  Submit RSVP</button>